.root {
    padding-left: 16px;
}

.header {
    text-align: center;
    align-self: center;
    padding-left: 16px;
    font-size: 48px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.icon {
    height: 128px;
    width: 128px;
    align-self: center;
}